.Header {
    color: gray;
    text-align: center;
    padding: 50px;
}
.nav {
    color: gray;
    text-align: center;
    padding: 50px;

}
.section {
    color: gray;
}
.article {

}
.aside {
    color: gray;
}
.footer {
    color: gray;
    padding: 50px;
    text-align: center;

}